/*BEGIN PS4 Controller Styling*/
.edit .controller.ds4 {
    background: url(https://imgur.com/jpfGj40);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

